body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden; /* Hide vertical scrollbar */
    background-color: #EDEDED;
}
  
#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    max-height: 100vh; /* Set the maximum height to fit the viewport */
    width: calc(100vh / 10 * 5); /* Calculate the width based on 10 rows and 5 columns, maintaining 1:1 aspect ratio */
    border: 1px solid #000;
    /*padding-right: 30px;*/
}
  
.cell {
    border: 1px solid #000;
    aspect-ratio: 1; /* Ensure 1:1 aspect ratio for the cells */
}
  
.empty {
    background-color: transparent;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8E4C1;
    color: #333333;
    font-family: 'EB Garamond', serif;
    font-size: 5vh;
    border-radius: 10%;
}

.tile.touched {
    background-color: #FFD700;
}

.tile.correct {
    background-color: #00FF00;
}

.tile.incorrect {
    background-color: #FF0000;
}

/** Start, Pause, Over screens */
.screen-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF; /* Background color for the pause screen content */
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 60vw;
    height: 75vh;
}

.screen-content h1 {
    font-family: 'Sacramento', cursive;
    font-size: 11vh;
    margin-top: 2.5vh;
    margin-bottom: 0;
}

.screen-content p {
    font-family: 'Playpen Sans', cursive;
    font-size: 2.25vh;
    margin-top: 4px;
    margin-bottom: 4px;
}

.screen-content button {
    font-family: 'Playpen Sans', cursive;
    font-size: 2vh;
}

.scrollable-list {
    max-height: 40vh; /* Set a maximum height for the list to make it scrollable */
    overflow-y: scroll; /* Enable vertical scrolling if the content overflows */
    /*border: 1px solid #ccc;  Add a border for the scrollable list */
    width: 40vw;
}
  
.scrollable-list ul {
    list-style: none; /* Remove list bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}
  
.scrollable-list li {
    padding: 10px; /* Add some padding to list items for spacing */
    border-bottom: 1px solid #eee; /* Add a border between list items */
    font-size: 2vh;
    font-family: 'Playpen Sans', cursive;
}
  
.scrollable-list li:last-child {
    border-bottom: none; /* Remove the border from the last list item */
}

#start-screen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire viewport */
    height: 100%; /* Cover the entire viewport */
    background-color: #87A96B; /* Semi-transparent background */
}
  
#start-button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

#pause-screen {
    display: none; /* Initially hidden */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire viewport */
    height: 100%; /* Cover the entire viewport */
    background-color: #B0E0E6;
}
  
#resume-button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

#game-over-screen {
    display: none; /* Initially hidden */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire viewport */
    height: 100%; /* Cover the entire viewport */
    background-color: #C25A7C;
}
  
#play-again-button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}
