body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden; /* Hide vertical scrollbar */
    background-color: #EDEDED;
}
  
#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    max-height: 100vh; /* Set the maximum height to fit the viewport */
    width: calc(100vh / 10 * 5); /* Calculate the width based on 10 rows and 5 columns, maintaining 1:1 aspect ratio */
    border: 1px solid #000;
    /*padding-right: 30px;*/
}
  
.cell {
    border: 1px solid #000;
    aspect-ratio: 1; /* Ensure 1:1 aspect ratio for the cells */
}
  
.empty {
    background-color: transparent;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8E4C1;
    color: #333333;
    font-size: 2em;
    font-weight: bolder;
    border-radius: 10%;
}

.tile.touched {
    background-color: #FFD700;
}

.tile.correct {
    background-color: #00FF00;
}

.tile.incorrect {
    background-color: #FF0000;
}

/** Start, Pause, Over screens */
.screen-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF; /* Background color for the pause screen content */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#start-screen {
    display: block; /* Initially hidden */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire viewport */
    height: 100%; /* Cover the entire viewport */
    background-color: #00FF00; /* Semi-transparent background */
}
  
#start-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pause-screen {
    display: none; /* Initially hidden */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire viewport */
    height: 100%; /* Cover the entire viewport */
    background-color: #3498DB;
}
  
#resume-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  